.btn {
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  user-select: none;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
  background: white;
  color: black;
  font-weight: bold;
  border: 3px solid black !important;
  border-radius: 0;
  box-shadow: 4px 4px black, 6px 7px white;
}

.btn:hover {
  color: black;
  background: white;
}

.btn:active {
  background-color: white !important;
  color: black !important;
  box-shadow: 0px 0px white;
  transform: translateX(5px) translateY(2px);
}