.backdrop {
  position: absolute;
  inset: 0;
  z-index: 999;
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.h2 {
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.8;
  color: #333;
}

.h3 {
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.8;
  color: #fff;
}